<!-- modal window to add new question -->
<div id="dialog-form" title="Add Another Question" style="display:none">  
  <div id="modal_question_form">
    <p class="validateQuestion" style="display:none">Question Description field can not be blank.</p> 
    <%= render "questions/form" %>
  </div>
</div>